<a href="https://colab.research.google.com/github/Sabrina-Hendricks/DS4002-Group13-Project2/blob/main/Scripts/DataAppendix.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re

Import data from Github

In [3]:
url = 'https://raw.githubusercontent.com/Sabrina-Hendricks/DS4002-Group13-Project2/refs/heads/main/Data/Cleaned_Data.csv'
df = pd.read_csv(url)
df.head()

,category,service,year,quarter,spending
0,Outpatient services,Physician services,2004,Q1,306.6
1,Outpatient services,Dental services,2004,Q1,81.0
2,Outpatient services,Paramedical services,2004,Q1,188.0
3,Hospital and nursing home services,Hospitals,2004,Q1,518.4
4,Hospital and nursing home services,Nursing homes,2004,Q1,108.0

Describe variables in the dataset.

---

In [4]:
df['category'].describe()

count                     410
unique                      2
top       Outpatient services
freq                      246
Name: category, dtype: object

In [5]:
df['service'].describe()

count                    410
unique                     5
top       Physician services
freq                      82
Name: service, dtype: object

In [6]:
df['year'].describe()

count     410.000000
mean     2013.756098
std         5.928591
min      2004.000000
25%      2009.000000
50%      2014.000000
75%      2019.000000
max      2024.000000
Name: year, dtype: float64

In [9]:
df['quarter'].describe()

count     410
unique      4
top        Q1
freq      105
Name: quarter, dtype: object

In [7]:
df['spending'].describe()

count     410.000000
mean      404.734390
std       319.670743
min        81.000000
25%       158.525000
50%       297.300000
75%       569.525000
max      1475.000000
Name: spending, dtype: float64